html {
  font-size: 62.5%;
  /* Default browser fontsize is 16px. multiply by 62.5 = 10px, same as 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
}

#root {
  height: 100%;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem grey solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

button {
  background-color: grey;
  cursor: pointer;
  margin-top: 1.5rem;
}

.App {
  text-align: center
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;

}

li {
  margin-top: 1rem;

}

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form>div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;

}

.deleteButton {
  margin-left: 100px;
}

.container {
  width: 15rem;
  padding: 1rem;
  background-color: rgba(15, 144, 196, 0.678);
  border: 2px solid rgba(111, 41, 97, .5);
  display: inline-block;
  vertical-align: middle
}